:root {
    --nav-background: #84BCDA;
}

.navbar {
    background-color: var(--nav-background);
}
nav, .nav-link, .nav-link:visited {
    color: white;
}
.nav-link:hover {
    color: #e4e4e4;
}
.material-icons {
    user-select: none;
}
.material-icons:hover, .hoverCursor:hover {
    cursor: pointer;
}