:root {
    --nav-background: #84BCDA;
    --nav-background-dark: hsl(201, 54%, 40%);
}

.navbar {
    background-color: var(--nav-background);
}
nav, .nav-link, .nav-link:visited {
    color: white;
}
.nav-link:hover {
    color: #e4e4e4;
}
.material-icons {
    user-select: none;
}
.material-icons:hover, .hoverCursor:hover {
    cursor: pointer;
}

/* Theme based selection */
html[data-bs-theme="dark"] .navbar {
    background-color: var(--nav-background-dark);
}