<h1>Git Advanced</h1>
<br>

<!-- Git Rebasing -->
<h2>1. Git Rebasing</h2>
<hr>
<ul>
    <li>Git Rebasing is a process used in version control with Git to integrate changes from one branch into another.</li>
    <li> It allows user to move or apply a series of commits from one branch onto another branch, typically resulting in a more linear and cleaner commit history. </li>
    <li>Rebasing is useful for maintaining a clear history and resolving conflicts between branches.</li>
</ul>

<br>
<h2>How to Rebase ?</h2>
<hr>
<ol>
    <li>Start with a base branch (e.g., master or main).</li>
    <li>Create a feature branch.</li>
    <li>Make your changes in the feature branch.</li>
    <li>Move the changes from the feature branch onto the latest commit in the base branch by using below command.</li>
    <br>
    <pre>
    git rebase [base_branch]
    </pre>
</ol>

<p><b>Result :</b> The commit history looks as if the changes in the feature branch were made directly on top of the base branch, creating a more straightforward timeline.</p>

<!-- Git Hooks -->
<br>
<h2>2. Git Hooks</h2>
<hr>

<ul>
    <li>
        Git hooks are custom scripts or programs that user can set up to be automatically executed at specific points in the Git version control process.
    </li>
    <li>
        These scripts allow user to automate tasks, enforce coding standards, perform pre-commit checks, send notifications, and more. 
    </li>
    <li>There are two types of hooks present in Git.
        <ol>
            <li>Client-Side Hooks</li>
            <li>Server-Side Hooks</li>
        </ol>
    </li>

</ul>
<br>

<h5>Client-Side Hooks</h5>
<ul>
    <li>pre commit, prepare-commit-msg, commit-msg, post-commit, post-checkout, pre-rebase.</li>
</ul>

<h5>Server-Side Hooks</h5>
<ul>
    <li>pre-receive, update, post-receive.</li>
</ul>

<br>

<h2> How to use Git Hooks ?</h2>
<hr>

<ol>
    <li>Navigate to Your Git Repository.</li>
    <li>Locate the Hooks Directory:  <code>cd </code>/path/to/your/repo/.git/hooks</li>
    <li>Choose or Create a Hook Script.</li>
    <li>Write Your Hook Script: To create a custom pre-commit hook, you can create a file named pre-commit in the hooks directory</li>
    <li>Customize Your Script.</li>
    <li>Testing (Optional).</li>
    <li>Commit Your Changes:</li>
    <pre>
    git add .git/hooks/pre-commit
    git commit -m "Add custom pre-commit hook"
    </pre>
    <li>Finally you can use the Hook.</li>
</ol>


<!-- Cherry Picking -->
<br>
<h2>3. Cherry Picking</h2>
<hr>
<ul>
    <li>Cherry Picking means selectively using data that supports a specific viewpoint while ignoring contradictory evidence.
    </li>

    <li>Leads to presenting an incomplete or biased view of a subject, leading to misunderstandings.
    </li>

    <li>Considered a logical fallacy, undermining the credibility of an argument or individual.
    </li>

    <li>Contributes to the spread of misinformation and misinterpretation of issues.
    </li>

    <li>Should be avoided by conducting a comprehensive analysis that includes all relevant data and evidence.</li>
</ul>

<br>
<h2>How to Avoid Cherry Picking?</h2>
<hr>

<ul>
    <li>Conduct thorough research: Gather a wide range of sources and data to get a holistic understanding of the topic.
    </li>

    <li>Acknowledge opposing viewpoints: Consider and address conflicting evidence or perspectives to provide a balanced analysis.
    </li>

    <li>Use systematic approaches: Employ standardized methodologies or protocols for data collection and analysis to minimize biases.
    </li>

    <li>Engage peer review: Encourage feedback from peers or experts in the field to ensure the objectivity and integrity of your work.
    </li>

    <li>Be transparent: Clearly communicate the methodology and sources used, along with any limitations or constraints, to maintain transparency and trustworthiness.</li>
</ul>

<br>

<!--Git Stash-->
<h2>4. Git Stash</h2>
<hr>
<ul>
    <li><b>'git stash'</b> is a Git command used to temporarily store changes that are not ready to be committed to the repository.
    </li>

    <li>It allows you to store modified tracked files and staged changes without committing them, enabling you to work on a different branch or address an urgent issue.
    </li>

    <li>Stashed changes can later be reapplied or removed using the <b>'git stash apply'</b> or <b>'git stash drop'</b> commands, respectively.
    </li>

    <li>Multiple stashes can be created, and you can apply changes from a specific stash by referencing its index.
    </li>

    <li>
        It's a helpful tool for managing unfinished changes, allowing developers to switch contexts or deal with urgent matters without the need for a permanent commit.
    </li>
</ul>


<br>
<h2>How to use git stash?</h2>
<hr>
<ol>
    <li>Stash your changes: Use git stash to store your modifications. This command will stash both staged and unstaged changes.
    <pre>
        git stash
    </pre>
    </li>

    <li>View your stashed changes: You can use <b>'git stash list'</b> to view the list of stashes you've created
    <pre>
        git stash list
    </pre>
    </li>

    <li>Apply stashed changes: To reapply your stashed changes, you can use <b>'git stash apply'</b>. This will reapply the most recent stash.
    <pre>
        git stash apply
    </pre>
    </li>

    <li>Apply a specific stash: If you have multiple stashes, you can specify the stash by index using <b>'git stash apply'</b> followed by the stash reference (e.g., <b>'git stash apply stash@{2}'</b>).
    <pre>
        git stash apply <-stash@{index}->
    </pre>
    </li>

    <li>
        Remove stashed changes: You can use <b>'git stash drop'</b> to remove the most recent stash, or specify a specific stash to drop using its index.
    <pre>
        git stash drop
        git stash drop <-stash@{index}->
    </pre>
    </li>
    

</ol>
<br>